.App {
  text-align: center;
}

.tick line {
  stroke: #c0c0bb;
}

circle {
  stroke: white;
}

.marks .land {
  stroke: gray;
  stroke-width: 0.5px;
}

/* .marks .land:hover {
  stroke: fuchsia;
  stroke-width: 0.5px;
} */

.marks .land.highlight {
  stroke: rgb(230, 89, 8);
  stroke-width: 3;
}

.mark.highlight {
  stroke: rgb(230, 89, 8);
  stroke-width: 3px;
}

.countryListItem.highlight {
  stroke: 2px dotted rgb(230, 89, 8);
  background-color: gold;
}

.center {
  text-align: center;
}

.MuiListItem-root.MuiListItem-gutters.MuiListItem-padding.css-1p823my-MuiListItem-root {
  border: 2px solid white;
}

.MuiListItem-root.MuiListItem-gutters.MuiListItem-padding.css-1p823my-MuiListItem-root.highlight {
  border: 3px solid rgb(230, 89, 8);
  z-index: 10;
}

ul {
  list-style-type: none; /* Remove bullets */
  width: 500px;
}

.listItemWrapper {
  width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  overflow: hidden; /* will contain if #first is longer than #second */
}

.listItemWrapper.highlight {
  width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  background-color: lightgrey;
}

.listHighlightWrapper {
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  overflow: hidden; /* will contain if #first is longer than #second */
}

.listHighlightWrapper.highlight {
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  background-color: lightgrey;
  overflow: hidden; /* will contain if #first is longer than #second */
}

.listItem {
  text-align: left;
  width: 250px;
}

.listItem .text {
  width: 150;
  display: inline-block;
}

.listItem .text .country {
  text-align: left;
  font-size: large;
}

.listItem .text .patents {
  text-align: left;
  font-size: medium;
  color: grey;
}

.listItem .flag {
  vertical-align: top;
  font-size: x-large;
  width: 50px;
  display: inline-block;
}

.listWrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  width: 500px;
  height: 1200px;
  overflow: hidden;
  overflow-y: scroll;
}

.listCheckbox {
  width: 50px;
  float: right;
}
