.App {
  text-align: center;
}

.tick line {
  stroke: #c0c0bb;
}

circle {
  stroke: white;
}

.marks .land {
  stroke: gray;
  stroke-width: 0.5px;
}

/* .marks .land:hover {
  stroke: fuchsia;
  stroke-width: 0.5px;
} */

.marks .land.highlight {
  stroke: fuchsia;
  stroke-width: 3;
}

.mark.highlight {
  stroke: fuchsia;
  stroke-width: 3px;
}

.countryListItem.highlight {
  stroke: 2px dotted fuchsia;
  background-color: gold;
}

.center {
  text-align: center;
}

.MuiListItem-root.MuiListItem-gutters.MuiListItem-padding.css-1p823my-MuiListItem-root {
  border: 2px solid white;
}

.MuiListItem-root.MuiListItem-gutters.MuiListItem-padding.css-1p823my-MuiListItem-root.highlight {
  border: 3px solid fuchsia;
  z-index: 10;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.listItemWrapper {
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.listItemWrapper.highlight {
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightgrey;
  outline: 1px solid fuchsia;
}
